/* Sidebar container */
.sidebarContainer {
    width: 250px;
    background-color: black;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

/* Logo styling */
.logoImage {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
    transition: opacity 0.5s ease-in-out;
}

.logoImage:hover {
    opacity: 0.8;
}

/* Sidebar menu styling */
.menuList, .bottomList {
    list-style-type: none;
    width: 100%;
    padding-left: 30px;
}

.menuItem, .bottomItem {
    width: 100%;
    margin-bottom: 20px;
}

.menuLink, .bottomLink {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.menuLink:hover, .bottomLink:hover {
    background-color: #333;
}

.menuLink.active {
    background-color: #555;
}

/* Icon styling */
.icon {
    font-size: 24px; /* Adjust icon size */
    margin-right: 15px;
}

/* Align bottom menu items */
.bottomList {
    margin-top: auto; 
    padding-top: 20px;
}