/* Bills.module.css */

.billsContainer {
    margin-left: 250px; /* To account for the sidebar */
    padding: 20px;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .textHeader {
    padding: 20px;
    border-radius: 8px;
  }
  
  .textHeader h4 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .inputGroup {
    position: relative;
    margin-top: 20px;
    width: 80%;
    max-width: 1040px;
    background-color: #fff; /* Set the background color to white */
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.1); /* Add box shadow */
    border-radius: 20px; /* Optional: Add a border-radius for smoother edges */
    padding: 70px; /* Adjusted padding inside the group */
  }
  
  .dateInput {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .vectorIcon {
    position: absolute;
    top: 50%;
    right: 80px; /* Ensure proper alignment with the input field */
    transform: translateY(-50%);
    cursor: pointer;
    height: 20px;
  }

  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for elevation */
    overflow-y: auto; /* Allow scrolling if content exceeds max height */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth opening effect */
    max-height: 220px; /* Set a maximum height */
  }
  
  
  .dropdownMenuItem {
    padding: 10px 10px; /* Improved padding for touch devices */
    cursor: pointer;
    text-align: center;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }
  
  .dropdownMenuItem:hover {
    background-color: #f7f7f7; /* Slightly lighter hover effect */
    color: #555; /* Darken text on hover */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .billsContainer {
      margin-left: 0;
      padding: 15px;
    }
  
    .inputGroup {
      width: 90%;
      max-width: 100%;
    }
    .dropdownMenuItem {
      padding: 12px 20px; /* Improved padding for touch devices */
    }
  }
  